

<% title = current_page.data.title || "_stylecoeur" %>

<!doctype html>
<html>
  <head>
    <title><%= title %></title>
    <%= partial '/partials/head' %>
  </head>
  <body class="_styleguide">

    <%= partial '/partials/nav' %>

    <div class="_container">

      <div class="_styleguide-main _grid-one-four">

        <aside>
          <!-- <h1 class="_transparent">menu</h1> -->
          <span class="_sidebar-trigger"></span>
          <div class="_sidebar --divider">
            <%= partial '/partials/styleguide-index' %>
          </div>
        </aside>

        <div class="_width-content-max _grid-size-force _padding-2">
          <%= yield %>
        </div>
      </div>

    </div>

    <div class="_styleguide-footer">
    </div>
  </body>
</html>



<script src="../javascripts/scriptcoeur/sticky.js" type="text/javascript"></script>
<script>
$(document).ready(function() {
  var triggerElement = "._sidebar-trigger", target = "._sidebar", targetClass = "--pinned";
  _sticky(triggerElement, target, targetClass, undefined, false);
});
</script>


