
<% source = current_page.data.source || "./" %>

<div class="_styleguide-nav">
  <a class="_margin-right" href= <%= source + "index.html" %> ><%= partial 'partials/logo' %></a>
  <a class="_margin-right" href= <%= source + "design.html" %> >Design System</a>
  <a class="_margin-right" href= <%= source + "styleguide.html" %> >Styleguide</a>
  <a class="_margin-right" href= <%= source + "notes.html" %> >Notes</a>
</div>
