
<% $section_name = '' %>
<% source = current_page.data.source || "" %>

<% sidebarTitle = current_page.data.sidebarTitle || "Style Guide" %>
<% sidebarCaption = current_page.data.sidebarCaption || "(cheat sheet)" %>

<!-- for open/close  -->
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">


<span class="_sidebar-trigger"></span>
<div class="_sidebar --divider" data-currentPage="<%= current_page.data.name %>">
  <!-- styleguide pages are one / deep and currently using relative links -->
  <% if current_page.data.rel %>
    <% source = current_page.data.rel %>
  <% end %>

  <div>

    <!-- header -->
    <div class="_padding-top">

      <div class="_padding-bottom-half"><a href="/"><span class="">&larr; back</span></a></div>

      <a class="_font-bold  --submenu
                <%= '--active --open' if current_page.data.title == 'styleguide' %>
               " href="<%= source %>styleguide.html">
        <h4 class=_padding-bottom-none><%= sidebarTitle %></h4>
      </a>
      <div class="_font-small _font-italic"><%= sidebarCaption %> </div>

      <% if current_page.data.title == 'styleguide' %>
        <div class="_sidebar-submenu _margin-top">
          <% current_page.data.submenu.each do |item| %>
            <div><a href=#<%= item[1] %>><%= item[0] %></a></div>
          <% end %>
        </div>
      <% end %>
    </div>


    <% sitemap.resources.select { |r| r.data.type == 'styleguide' }
      .sort_by{|r| r.url }
      .each do |resource| 
    %>
      <% if $section_name != resource.data.section 
            $section_name = resource.data.section 
        %>
        <div class="_sidebar-section_title"> <%= $section_name %></div>
      <% end %>

      <div>
        <% if defined?(resource.data.submenu) %>
          <span class='_sidebar-submenu_trigger
                       <%= '--open' if defined?(current_page.data.submenu) && resource.data.submenu == current_page.data.submenu %>
          '><i class="fa fa-angle-right"></i></span>
        <% end %>
        <a href="<%= source %><%= resource.path %>" 
           id="sidebar-<%= resource.data.name %>"
           class="
              <%= '--active' if current_page.data.name == resource.data.name %>
              <%= '--submenu' if defined?(resource.data.submenu) %>
              
              <%= resource.data.status if defined?(resource.data.status) %>
              "
        >
          <%= resource.data.title %> 
        </a>
        <% if resource.data.submenu %>
          <div class="_sidebar-submenu">
            <% resource.data.submenu.each do |item| %>
              <div><a href=<%= source %><%= resource.path %>#<%= item[1] %>><%= item[0] %></a></div>
            <% end %>
          </div>
        <% end %>
      </div>

    <% end %>
  </div>
</div>


<script src= <%= source + "javascripts/scriptcoeur/smoothScroll.js" %> type="text/javascript"></script>

<script>
  $('._sidebar-submenu_trigger').on('click', function() {
    $(this).toggleClass('--open');
  });

  $(document).ready(function() {
    var target = $('._sidebar').attr('data-currentpage');
    verticalScrollTo(-60, '#sidebar-'+target, '._sidebar');
  })

</script>

