

<% source = current_page.data.source || config.content_path || "./" %> 
<% title = current_page.data.title || config.site_title %>

<!doctype html>
<html>
  <head>
    <title><%= title %></title>
    <% if config.use_default_head %>
      <%= partial '/partials/coeur-head' %>
    <% else %>
      <%= partial '/partials/head' %>
    <% end %>
  </head>
  <body class="_styleguide _loader">
    
    <% if config.use_default_nav %>
      <%= partial '/partials/coeur-nav' %>
    <% else %>
      <%= partial '/partials/nav' %>
    <% end %>

    <div class="_styleguide-container">

      <div class="_grid-one-four _grid-xs-block">

        <aside>
          <%= partial '/partials/_coeur-sidebar' %>
        </aside>

        <div class="_styleguide-content _width-content-max _grid_item-overflow _padding-2 _margin-center">
          <%= yield %>
        </div>
      </div>

    </div>

    <div class="_styleguide-footer">
    </div>
  </body>
</html>


<script src= <%= source + "assets/javascripts/site.js" %> type="text/javascript"></script>
<script src= <%= source + "assets/coeur/scriptcoeur/smoothScroll.js" %> type="text/javascript"></script>
<script src= <%= source + "assets/coeur/scriptcoeur/sticky.js" %> type="text/javascript"></script>
<script src= <%= source + "assets/coeur/scriptcoeur/plugins/js.cookie.js" %> type="text/javascript"></script>
<script>

// open and close sidebar
// ACCESSED BY INDEXER!

var isSidebarOpen = Cookies.getJSON('isSidebarOpen') !== undefined ? Cookies.getJSON('isSidebarOpen') : true,
    closedClass = '--sidebar-closed'

function closeSidebar() {
  console.log('close sidebar');
  isSidebarOpen = false;
  Cookies.set('isSidebarOpen', isSidebarOpen);
  $('._styleguide-container').addClass(closedClass)
}
function openSidebar() {
  console.log('open sidebar');
  isSidebarOpen = true;
  Cookies.set('isSidebarOpen', isSidebarOpen);
  $('._styleguide-container').removeClass(closedClass)
}
function toggleSidebar() {
  if(!isSidebarOpen) {
    openSidebar();
  } else {
    closeSidebar();
  }
}
$(document).keyup(function(e) {
  if (e.keyCode === 27) toggleSidebar();   // esc
});
if(!isSidebarOpen) { // close on page load
  closeSidebar()
}




$(document).ready(function() {
  if($("._sidebar-trigger").length > 0) {
    var triggerElement = "._sidebar-trigger", target = "._sidebar", targetClass = "--pinned";
    _sticky(triggerElement, target, targetClass, 0 );
  }
});

</script>


