
<% source = current_page.data.source || config.content_path || "./" %> 
<% title = current_page.data.title || config.site_title %>

<!doctype html>
<html>
  <head>
    <title><%= title %></title>
    <%= partial '/partials/coeur-head' %>
  </head>
  <body class="_styleguide _loader">

    <%= partial '/partials/_coeur-nav' %>

    <div class="">
      <%= yield %>
    </div>

    <div class="_styleguide-footer">
    </div>
  </body>
</html>

<script src= <%= source + "assets/javascripts/site.js" %> type="text/javascript"></script>
