---
title: Colors
type: styleguide
layout: layout-coeur-knowbase
name: colors
section: fundamental
source: ../
reference: _heart.scss
submenu:
  - [Usage, color-usage]
  - [Contextual Colors, contextual-colors]
  - [Primary Colors, primary-colors]
  - [Grayscale, white-grays-blacks]
  - [Social Media, social-media-colors]
  - [Scale Colors, scale-colors-amp-gradients]
---

<main markdown="1">

## Colors

<%= partial '/partials/coeur-ref', 
    :locals => { :refName => current_page.data.reference } %>

Colors are kept light and playful, but neutral. Colors are provided as contextual accessories and supporting colors, not as brand colors.

Any site should override whatever colors they need to match their brand.


#### Color Usage

All colors have supporting classes to easily add color to elements and components:

 - `_color-red`
 - `_color-bg-red`
 - `_color-border-red` —requires border styling 


<div class="_styleguide-example">
  <div class="_grid-three">
    <div class="_color-red _align-vertically --p7">
      <span class="_center _box _color-bg-transparent ">_color-red</span>
    </div>
    <div class="_color-bg-red _align-vertically --p7">
      <span class="_center _box _color-bg-transparent ">_color-bg-red</span>
    </div>
    <div class="_color-border-red _border --thick _align-vertically --p7">
      <span class="_center _box _color-bg-transparent ">_color-border-red</span>
    </div>
  </div>
</div>
~~~html
<div class="_grid-three">
  <div class="_color-red _align-vertically --p7">
    <span class="_center _box _color-bg-transparent ">_color-red</span>
  </div>
  <div class="_color-bg-red _align-vertically --p7">
    <span class="_center _box _color-bg-transparent ">_color-bg-red</span>
  </div>
  <div class="_color-border-red _border --thick _align-vertically --p7">
    <span class="_center _box _color-bg-transparent ">_color-border-red</span>
  </div>
</div>
~~~


#### Contextual Colors 

<div class="_styleguide-example">
<div class="_grid-four ">
<%= partial '/partials/coeur-swatch', 
    :locals => { :name => 'Main', :varName => 'main', :swatch => '$color-main' } %>

<%= partial '/partials/coeur-swatch', 
    :locals => { :name => 'Secondary', :varName => 'secondary', :swatch => '$color-secondary' } %>

<%= partial '/partials/coeur-swatch', 
    :locals => { :name => 'Background', :varName => 'bg', :swatch => '$color-bg' } %>

<%= partial '/partials/coeur-swatch', 
    :locals => { :name => 'Body', :varName => 'body', :swatch => '$color-body' } %>

<%= partial '/partials/coeur-swatch', 
    :locals => { :name => 'Copy', :varName => 'copy', :swatch => '$color-copy' } %>

<%= partial '/partials/coeur-swatch', 
    :locals => { :name => 'Hover', :varName => 'hover', :swatch => '$color-hover' } %>

<%= partial '/partials/coeur-swatch', 
    :locals => { :name => 'Active', :varName => 'active', :swatch => '$color-active' } %>

<%= partial '/partials/coeur-swatch', 
    :locals => { :name => 'Inactive', :varName => 'inactive', :swatch => '$color-inactive' } %>

<%= partial '/partials/coeur-swatch', 
    :locals => { :name => 'Warning', :varName => 'warning', :swatch => '$color-warning' } %>

<%= partial '/partials/coeur-swatch', 
    :locals => { :name => 'Danger', :varName => 'danger', :swatch => '$color-danger' } %>

<%= partial '/partials/coeur-swatch', 
    :locals => { :name => 'Success', :varName => 'success', :swatch => '$color-success' } %>

<%= partial '/partials/coeur-swatch', 
    :locals => { :name => 'Disabled', :varName => 'disabled', :swatch => '$color-disabled' } %>

<%= partial '/partials/coeur-swatch', 
    :locals => { :name => 'UI', :varName => 'ui', :swatch => '$color-ui' } %>
<%= partial '/partials/coeur-swatch', 
    :locals => { :name => 'UI Light', :varName => 'ui-light', :swatch => '$color-ui-light' } %>
<%= partial '/partials/coeur-swatch', 
    :locals => { :name => 'UI Lighter', :varName => 'ui-lighter', :swatch => '$color-ui-lighter' } %>
<%= partial '/partials/coeur-swatch', 
    :locals => { :name => 'UI Dark', :varName => 'ui-dark', :swatch => '$color-ui-darker' } %>
<%= partial '/partials/coeur-swatch', 
    :locals => { :name => 'UI Hover', :varName => 'ui-hover', :swatch => '$color-ui-hover' } %>

</div>
</div>


#### Primary Colors 

<div class="_styleguide-example">
<div class="_grid-six ">
<%= partial '/partials/coeur-swatch', 
    :locals => { :name => 'Blue', :varName => 'blue', :swatch => '#366EA6' } %>

<%= partial '/partials/coeur-swatch', 
    :locals => { :name => 'Yellow', :varName => 'yellow', :swatch => '#FFC107' } %>

<%= partial '/partials/coeur-swatch', 
    :locals => { :name => 'Orange', :varName => 'orange', :swatch => '#F36C00' } %>

<%= partial '/partials/coeur-swatch', 
    :locals => { :name => 'Red', :varName => 'red', :swatch => '#BD5843' } %>

<%= partial '/partials/coeur-swatch', 
    :locals => { :name => 'Green', :varName => 'green', :swatch => '#8BC34A' } %>

<%= partial '/partials/coeur-swatch', 
    :locals => { :name => 'Mint', :varName => 'mint', :swatch => '#31E3C3' } %>
</div>
</div>


#### White, Grays, Blacks

It seems silly to have all these gray/white gradients, but they all come in handy.
Also note the color descriptor system with `-light` and `-dark`.

<div class="_styleguide-example">
<div class="styleguide-colors _grid-six ">

<%= partial '/partials/coeur-swatch', 
    :locals => { :name => 'Purewhite', :varName => 'purewhite', :swatch => '#FFFFFF' } %>
<%= partial '/partials/coeur-swatch', 
    :locals => { :name => 'Whiter', :varName => 'whiter', :swatch => '#FCFCFC' } %>
<%= partial '/partials/coeur-swatch', 
    :locals => { :name => 'White', :varName => 'white', :swatch => '#FAFAFA' } %>

<%= partial '/partials/coeur-swatch', 
    :locals => { :name => 'Silver-Lighter', :varName => 'silver-lighter', :swatch => '#F7F7F7' } %>
<%= partial '/partials/coeur-swatch', 
    :locals => { :name => 'Silver-Light', :varName => 'silver-light', :swatch => '#EEEEEE' } %>
<%= partial '/partials/coeur-swatch', 
    :locals => { :name => 'Silver', :varName => 'silver', :swatch => '#DDDDDD' } %>
<%= partial '/partials/coeur-swatch', 
    :locals => { :name => 'Silver-Dark', :varName => 'silver-dark', :swatch => '#FAFAFA' } %>

<%= partial '/partials/coeur-swatch', 
    :locals => { :name => 'Gray-Lightest', :varName => 'gray-lightest', :swatch => '#BBBBBB' } %>
<%= partial '/partials/coeur-swatch', 
    :locals => { :name => 'Gray-Lighter', :varName => 'gray-lighter', :swatch => '#ADADAD' } %>
<%= partial '/partials/coeur-swatch', 
    :locals => { :name => 'Gray-Light', :varName => 'gray-light', :swatch => '#888888' } %>
<%= partial '/partials/coeur-swatch', 
    :locals => { :name => 'Gray', :varName => 'gray', :swatch => '#666666' } %>
<%= partial '/partials/coeur-swatch', 
    :locals => { :name => 'Gray-Dark', :varName => 'gray-dark', :swatch => '#4A4A4A' } %>

<%= partial '/partials/coeur-swatch', 
    :locals => { :name => 'Black', :varName => 'black', :swatch => '#333333' } %>
<%= partial '/partials/coeur-swatch', 
:locals => { :name => 'Blacker', :varName => 'blacker', :swatch => '#1A1A1A' } %>
<%= partial '/partials/coeur-swatch', 
:locals => { :name => 'Blackest', :varName => 'blackest', :swatch => '#111111' } %>
<%= partial '/partials/coeur-swatch', 
:locals => { :name => 'Pure Black', :varName => 'pureblack', :swatch => '#000000' } %>


</div>
</div>





####  Social Media Colors
    
<div class="_styleguide-example">
<div class="_grid-four">

<%= partial '/partials/coeur-swatch', 
    :locals => { :name => 'Facebook', :varName => 'facebook', :swatch => '#3B5998' } %>

<%= partial '/partials/coeur-swatch', 
    :locals => { :name => 'Google', :varName => 'google', :swatch => '#E93F2E' } %>

<%= partial '/partials/coeur-swatch', 
    :locals => { :name => 'Reddit', :varName => 'reddit', :swatch => '#8BBBE3' } %>

<%= partial '/partials/coeur-swatch', 
    :locals => { :name => 'Twitter', :varName => 'twitter', :swatch => '#26C4F1' } %>

</div>
</div>



#### Scale Colors &amp; Gradients

[Using Scale Colors](https://iamsteve.me/blog/entry/using_scale_color_in_sass)

</main>


