
<% $section_name = '' %>
<% source = current_page.data.source || "./" %>

<% page_type = defined?(current_page.data) && defined?(current_page.data.type) ? current_page.data.type.to_str : '' %>

<% home = '' %>
<!-- finds the source file for ex: styleguide, and uses the titles and captions from the source page -->
<% sitemap.resources.select { |r| defined?(r.data.type) && r.data.type.to_str == page_type && r.data.home }
  .each do |page|
%>
  <% home = page %>
<% end %>


<% sidebarTitle = defined?(current_page.data) ? current_page.data.sidebarTitle : home.data.sidebarTitle %>
<% sidebarCaption = defined?(current_page.data) ? current_page.data.sidebarCaption : home.data.sidebarCaption %>

<!-- for open/close  -->
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">


<!-- closed sidebar menu -->
<div class="_sidebar-closed _hidden">
  <a href="#" class="_sidebar-open --border-none" onclick="openSidebar()">&#9776; sidebar</a>
</div>

<span class="_sidebar-trigger"></span>
<div class="_sidebar --divider" data-currentPage="<%= current_page.data.name %>">
  <!-- notes pages are one / deep and currently using relative links -->
  <% if current_page.data.rel %>
    <% source = current_page.data.rel %>
  <% end %>

  <!-- main sidebar content -->
  <div class="_sidebar-content">
    <!-- header -->
    <div class="_sidebar-submenu-main">
      <div class="_padding-top _padding-bottom-half _grid-2-xs">
        <a href=<%= source + "index.html" %> class="_margin-right-none-i"><span class="">&larr; back</span></a>
        <a href="#" class="_right _margin-right-i" onclick="closeSidebar()">hide</a>
      </div>

      <a class="_font-bold --submenu <%= '--active' if current_page.data.home == true %> " 
          href="<%= source %><%= page_type %>.html" >
        <h4 class=_padding-bottom-none><%= sidebarTitle %></h4>
      </a>
      <div class="_font-bold"><%= sidebarCaption %></div>
    </div>

    <!-- crawl through all documents of the same type (e.g. 'design' or 'notes') -->
    <!-- <%= current_page.data.type %> -->
    
    <div>
      <% if defined?(home.data) && home.data.submenu %>
        <div class="_padding-top">
          <% home.data.submenu.each do |item| %>
            <div><a href=<%= source %><%= home.path %>#<%= item[1] %>><%= item[0] %></a></div>
          <% end %>
        </div>
      <% end %>
    </div>

    <% sitemap.resources.select { |r| defined?(r.data.type) && r.data.type.to_str == page_type }
      .sort_by{|r| r.url }
      .each do |resource| 
    %>

      <% if defined?(resource.data.section) %>
        <% if $section_name != resource.data.section 
              $section_name = resource.data.section 
          %>
          <div class="_sidebar-section_title"> <%= $section_name %></div>
        <% end %>

        <div>
          <% if defined?(resource.data.submenu) %>
            <span class='_sidebar-submenu_trigger
                         <%= '--open' if defined?(current_page.data.submenu) && resource.data.submenu == current_page.data.submenu %>
            '><i class="fa fa-angle-right"></i></span>
          <% end %>
          <a href="<%= source %><%= resource.path %>" 
             id="sidebar-<%= resource.data.name %>"
             class="
                <%= '--active' if current_page.data.name == resource.data.name %>
                <%= '--submenu' if defined?(resource.data.submenu) %>
                
                <%= resource.data.status if defined?(resource.data.status) %>
                "
          >
            <%= resource.data.title %> 
          </a>
          <% if resource.data.submenu %>
            <div class="_sidebar-submenu">
              <% resource.data.submenu.each do |item| %>
                <div><a href=<%= source %><%= resource.path %>#<%= item[1] %>><%= item[0] %></a></div>
              <% end %>
            </div>
          <% end %>
        </div>

      <% end %>

    <% end %>
  </div>
</div>


<script src= <%= source + "coeur/scriptcoeur/smoothScroll.js" %> type="text/javascript"></script>

<script>
  $('._sidebar-submenu_trigger').on('click', function() {
    $(this).toggleClass('--open');
  });

  $(document).ready(function() {
    var target = $('._sidebar').attr('data-currentpage');
    verticalScrollTo(-60, '#sidebar-'+target, '._sidebar');
  })

</script>

