
<% source = current_page.data.source || "./" %>

<div class="_styleguide-nav _grid-three-one --always">
  <div>
    <a class="_margin-right" href= <%= source + "index.html" %> ><%= partial 'partials/coeur-logo2' %></a>
    <a class="_margin-right" href= <%= source + "design.html" %> >Design Concepts</a>
    <a class="_margin-right" href= <%= source + "styleguide.html" %> >Style Guide</a>
    <a class="_margin-right" href= <%= source + "notes.html" %> >Notes</a>
    <a class="" target="_blank" href="http://github.com/janzheng/stylecoeur" >Github</a>
  </div>
</div>
