---
title: Colors
type: styleguide
layout: layout-styleguide
name: colors
section: fundamental
source: ../
reference: _head-colors.scss
---

<main markdown="1">

## Colors

<%= partial '/partials/styleguide-ref', 
    :locals => { :refName => current_page.data.reference } %>

Colors are kept light and playful, but neutral. Colors are provided as contextual accessories and supporting colors, not as brand colors.

Any site should override whatever colors they need to match their brand.


#### Color Usage

All colors have supporting classes to easily add color to elements and components:

 - `_color-red`
 - `_color-bg-red`
 - `_color-border-red` —requires border styling 


<div class="_styleguide-example">
  <div class="_grid-three">
    <div class="_color-red _align-vertically --p7">
      <span class="_center _box _color-bg-transparent ">_color-red</span>
    </div>
    <div class="_color-bg-red _align-vertically --p7">
      <span class="_center _box _color-bg-transparent ">_color-bg-red</span>
    </div>
    <div class="_color-border-red _border --thick _align-vertically --p7">
      <span class="_center _box _color-bg-transparent ">_color-border-red</span>
    </div>
  </div>
</div>
~~~html
<div class="_grid-three">
  <div class="_color-red _align-vertically --p7">
    <span class="_center _box _color-bg-transparent ">_color-red</span>
  </div>
  <div class="_color-bg-red _align-vertically --p7">
    <span class="_center _box _color-bg-transparent ">_color-bg-red</span>
  </div>
  <div class="_color-border-red _border --thick _align-vertically --p7">
    <span class="_center _box _color-bg-transparent ">_color-border-red</span>
  </div>
</div>
~~~

#### Primary Colors 

<div class="_styleguide-example">
<div class="_grid-six ">
<%= partial '/partials/swatch', 
    :locals => { :name => 'Blue', :varName => 'blue', :swatch => '#366EA6' } %>

<%= partial '/partials/swatch', 
    :locals => { :name => 'Yellow', :varName => 'yellow', :swatch => '#FFC107' } %>

<%= partial '/partials/swatch', 
    :locals => { :name => 'Orange', :varName => 'orange', :swatch => '#F36C00' } %>

<%= partial '/partials/swatch', 
    :locals => { :name => 'Red', :varName => 'red', :swatch => '#BD5843' } %>

<%= partial '/partials/swatch', 
    :locals => { :name => 'Green', :varName => 'green', :swatch => '#8BC34A' } %>

<%= partial '/partials/swatch', 
    :locals => { :name => 'Mint', :varName => 'mint', :swatch => '#31E3C3' } %>
</div>
</div>


#### White, Grays, Blacks

It seems silly to have all these gray/white gradients, but they all come in handy.
Also note the color descriptor system with `-light` and `-dark`.

<div class="_styleguide-example">
<div class="styleguide-colors _grid-six ">

<%= partial '/partials/swatch', 
    :locals => { :name => 'Purewhite', :varName => 'purewhite', :swatch => '#FFFFFF' } %>
<%= partial '/partials/swatch', 
    :locals => { :name => 'Whiter', :varName => 'whiter', :swatch => '#FCFCFC' } %>
<%= partial '/partials/swatch', 
    :locals => { :name => 'White', :varName => 'white', :swatch => '#FAFAFA' } %>

<%= partial '/partials/swatch', 
    :locals => { :name => 'Silver-Lighter', :varName => 'silver-lighter', :swatch => '#F7F7F7' } %>
<%= partial '/partials/swatch', 
    :locals => { :name => 'Silver-Light', :varName => 'silver-light', :swatch => '#EEEEEE' } %>
<%= partial '/partials/swatch', 
    :locals => { :name => 'Silver', :varName => 'silver', :swatch => '#DDDDDD' } %>
<%= partial '/partials/swatch', 
    :locals => { :name => 'Silver-Dark', :varName => 'silver-dark', :swatch => '#FAFAFA' } %>

<%= partial '/partials/swatch', 
    :locals => { :name => 'Gray-Lightest', :varName => 'gray-lightest', :swatch => '#BBBBBB' } %>
<%= partial '/partials/swatch', 
    :locals => { :name => 'Gray-Lighter', :varName => 'gray-lighter', :swatch => '#ADADAD' } %>
<%= partial '/partials/swatch', 
    :locals => { :name => 'Gray-Light', :varName => 'gray-light', :swatch => '#888888' } %>
<%= partial '/partials/swatch', 
    :locals => { :name => 'Gray', :varName => 'gray', :swatch => '#666666' } %>
<%= partial '/partials/swatch', 
    :locals => { :name => 'Gray-Dark', :varName => 'gray-dark', :swatch => '#4A4A4A' } %>

<%= partial '/partials/swatch', 
    :locals => { :name => 'Black', :varName => 'black', :swatch => '#333333' } %>
<%= partial '/partials/swatch', 
:locals => { :name => 'Blacker', :varName => 'blacker', :swatch => '#1A1A1A' } %>
<%= partial '/partials/swatch', 
:locals => { :name => 'Blackest', :varName => 'blackest', :swatch => '#111111' } %>
<%= partial '/partials/swatch', 
:locals => { :name => 'Pure Black', :varName => 'pureblack', :swatch => '#000000' } %>


</div>
</div>





####  Social Media Colors
    
<div class="_styleguide-example">
<div class="_grid-four">

<%= partial '/partials/swatch', 
    :locals => { :name => 'Facebook', :varName => 'facebook', :swatch => '#3B5998' } %>

<%= partial '/partials/swatch', 
    :locals => { :name => 'Google', :varName => 'google', :swatch => '#E93F2E' } %>

<%= partial '/partials/swatch', 
    :locals => { :name => 'Reddit', :varName => 'reddit', :swatch => '#8BBBE3' } %>

<%= partial '/partials/swatch', 
    :locals => { :name => 'Twitter', :varName => 'twitter', :swatch => '#26C4F1' } %>

</div>
</div>



#### Scale Colors &amp; Gradients

[Using Scale Colors](https://iamsteve.me/blog/entry/using_scale_color_in_sass)

</main>


